---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const pages = [
    {
      slug: "arquitecto",
      title: "Asistente de Arquitectura Virtual",
      icon: "/images/asistente-arquitecto.jpeg",
      content:
        "Integra diseño, planificación y gestión estratégica con herramientas digitales avanzadas, optimizando proyectos de construcción y urbanismo.",
      activities: [
        "Planificación Estratégica, diseño de proyectos considerando aspectos estéticos, funcionales, técnicos y regulatorios.",
        "Diseño y Modelado Digital, creación de bocetos, planos y representaciones virtuales para visualizar espacios antes de su construcción.",
        "Gestión de Construcción, supervisión de obras, cumplimiento de normativas de seguridad y dirección de equipos de trabajo.",
        "Administración de Proyectos, coordinación entre áreas de urbanismo, gestión y planificación, integrando herramientas digitales para mayor eficiencia.",
        "Gestión y planificación urbana, desarrollo de espacios urbanos adaptados a nuevas tendencias digitales.",
        "Asesoramiento Especializado, consultoría sobre viabilidad, impacto ambiental y selección de materiales sostenibles.",
      ],
      scope: [
        "Diseño de edificaciones y estructuras, casas, edificios comerciales, espacios públicos.",
        "Arquitectura sostenible y eficiente, uso de tecnologías ecológicas y materiales inteligentes.",
        "Consultoría y asesoría digital",
      ],
      call: "Convierte la arquitectura en una experiencia inteligente y digital. Optimiza tus proyectos con un Arquitecto Virtual y alcanza un nuevo nivel en diseño y gestión. ¡Contáctanos!",
    },
    {
      slug: "informatico",
      title: "Asistente de Desarrollo Web e Informatica",
      icon: "/images/asistente-desarrollo-web.jpeg",
      content:
        "Capaz de diseñar, optimizar e integrar plataformas digitales con inteligencia artificial para potenciar la productividad y seguridad tecnológica de tu empresa.",
      activities: [
        "Desarrollo web completo, creación y optimización de sitios web y aplicaciones moviles dinámicas.",
        "Arquitectura de doftware, diseño de estructuras eficientes con bases de datos escalables.",
        "Automatización con IA, implementación de inteligencia artificial para mejorar procesos digitales.",
        "Seguridad y ciberprotección, análisis y optimización de sistemas para proteger información.",
        "Integración de Plataformas, conexión entre herramientas, CRM y sistemas internos.",
        "Optimización de Performance, asegura rapidez y estabilidad en aplicaciones web.",
      ],
      scope: [
        "Empresas que buscan presencia digital avanzada.",
        "Startups tecnológicas que requieren soluciones escalables.",
        "Negocios con necesidad de automatización y sistemas seguros.",
        "E-commerce y plataformas digitales en crecimiento.",
      ],
      call: "Impulsa tu transformación digital con un perfil experto en desarrollo e ingeniería. ¡Contrátalo y lleva tu negocio al siguiente nivel!",
    },
    {
      slug: "contador",
      title: "Asistente Contable",
      icon: "/images/asistente-contable.jpeg",
      content:
        "Con nuestro Asistente Virtual Contable, obtendrás una administración eficiente, organizada y respaldada por inteligencia artificial, reduciendo la carga operativa y optimizando los procesos.",
      activities: [
        "Gestión de finanzas, control de presupuestos, flujo de caja y análisis de costos.",
        "Facturación y cobranza, emisión de facturas, seguimiento de pagos y organización contable.",
        "Registro contable digital, clasificación automatizada de gastos y documentos financieros.",
        "Análisis predictivo con IA, evaluación de tendencias económicas y proyecciones financieras.",
        "Cumplimiento fiscal y tributario, preparación de declaraciones, asesoramiento fiscal y normativo.",
      ],
      scope: [
        "Empresas y emprendedores",
        "Negocios en crecimiento que requieren control financiero eficiente.",
        "Profesionales independientes: Autónomos que buscan manejo contable ágil y seguro.",
        "Negocios Digitales: E-commerce y startups que necesitan optimización financiera automatizada.",
      ],
      call: "Haz que tu gestión financiera sea más inteligente, eficiente y estratégica. Contrata un Asistente Virtual Contable y lleva tu negocio al siguiente nivel. ¡Contáctanos!",
    },
    {
      slug: "marketing",
      title: "Asistente en Marketing",
      icon: "/images/asistente-marketing.jpeg",
      content:
        "Maximizar el rendimiento de estrategias digitales, integrando SEO, SEM y publicidad, creando contenido persuasivo para marcas que buscan generar conexion con la audiencia.",
      activities: [
        "Gestión de campañas publicitarias, estrategia integral desde la planificación hasta la medición de campañas.",
        "Estrategia de SEO, generación de estrategias de posicionamiento",
        "Manejo de contenido, fidelización del cliente mediante contenido atractivo",
        "Diseño de contenido, creación de contenido visual, escrito y audiovisual",
        "Manejo de branding, preparación de declaraciones, asesoramiento fiscal y normativo.",
      ],
      scope: [
        "Empresas y Emprendedores",
        "Negocios en crecimiento que buscan posicionarse en el mercado",
        "Profesionales independientes",
      ],
      call: "Haz que tu gestión financiera sea más inteligente, eficiente y estratégica. Contrata un Asistente Virtual Contable y lleva tu negocio al siguiente nivel. ¡Contáctanos!",
    },
    {
      slug: "ventas",
      title: "Asistente Ejecutivo de Ventas",
      icon: "/images/asistente-ventas.jpeg",
      content:
        "En un mundo donde la eficiencia y la organización son clave, nuestro servicio combina lo mejor de la gestión administrativa con una estrategia efectiva de ventas y atención al cliente.",
      activities: [
        "Administración y organización, optimización de procesos internos, gestión eficiente de recursos y implementación de sistemas que permitan alcanzar los objetivos empresariales.",
        "Gestión de agenda y reuniones, programación de citas, preparación de materiales y el seguimiento de acuerdos.",
        "Manejo de correos electrónico, incluyendo la organización de bandejas de entrada, la redacción de mensajes claros y concisos, y el seguimiento de comunicaciones importantes.",
        "Facturación y seguimiento de pagos generación de facturas, el seguimiento de pagos pendientes y la gestión de la contabilidad relacionada con las transacciones comerciales.",
        "Ventas y Atención al Cliente atención al cliente, la gestión de quejas y reclamos, y la elaboración de informes de ventas.",
      ],
      scope: [
        "Empresas y emprendedores, Negocios en crecimiento que requieren control financiero eficiente.",
        "Profesionales independientes, autónomos que buscan manejo contable ágil y seguro.",
        "Negocios Digitales, E-commerce y startups que necesitan optimización financiera automatizada.",
      ],
      call: "Si buscas mejorar la gestión, las ventas y la relación con tus clientes, este servicio es para ti. Contáctanos y descubre cómo podemos ayudarte a crecer.",
    },
  ];
  return pages.map(
    ({ slug, title, content, icon, activities, scope, call }) => {
      return {
        params: { slug },
        props: { title, content, icon, activities, scope, call },
      };
    },
  );
}
const { title, content, icon, activities, scope, call } = Astro.props;
---

<Base>
  <section class="pt-8 pb-12">
    <h2 class="my-6 px-4 text-center">{title}</h2>
    <p class="mb-6 px-4 text-center">{content}</p>
    <section class="bg-border">
      <section
        class="flex flex-col md:flex-row items-center gap-4 md:gap-12 max-w-6xl mx-auto py-6"
      >
        <ul class="space-y-2 text-text list-inside mt-4">
          {
            activities.map((funcion) => (
              <li class="flex items-center">
                <svg
                  class="w-10 me-2 text-primary flex-shrink-0"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                </svg>
                <span>{funcion}</span>
              </li>
            ))
          }
        </ul>
        <Image
          class="mx-auto md:w-1/3 rounded-lg"
          src={icon}
          width={538}
          height={328}
          alt={title}
        />
      </section>
    </section>
 
  </section>
</Base>
